.cta {
    -webkit-appearance: none;

    background: transparent;
    border: 1px solid $dark-blue;
    padding: 10px $gutter;

    cursor: pointer;

    transition: all .25s ease;

    &:hover {
        text-decoration: none;
    }

    &:not(.disabled):hover,
    &.active {
        background: $dark-blue;
        color: #FFF;
    }

    &.disabled {
        border-color: $medium-gray;
        color: $medium-gray;

        cursor: not-allowed;
    }
}