.cta {
    -webkit-appearance: none;

    background: transparent;

    display: inline-block;
    
    border: 1px solid $dark-blue;
    padding: 10px $gutter;

    cursor: pointer;

    transition: all .25s ease;

    &:hover {
        text-decoration: none;
    }

    &:hover,
    &.active {
        background: $dark-blue;
        color: #FFF;
    }

    &.red {
        border-color: $dark-red;
        color: $dark-red;

        &:hover {
            background: $dark-red;
            color: #FFF;
        }
    }

    &.disabled {
        border-color: $medium-gray;
        color: $medium-gray;

        cursor: not-allowed;

        &:hover {
            background: transparent;
            color: $medium-gray;
        }
    }
}