%base-form-styles {
    background: transparent;

    border: 1px solid $medium-blue;
    border-radius: 0;

    margin-bottom: 1em;
    padding: 0 1em;

    width: 100%;

    font-family: $sans-serif;
    @include typecsset-font-size(18px);
    //color: white;

    transition: border .5s;

    &:focus {
        border-color: $dark-blue;
        
        //Hide default blue glow
        outline: none;
    }

    //Hide Firefox Initial Red Border
    &:invalid {
        box-shadow: none;
    }

    &:disabled {
        border-color: $medium-gray;
    }
}

.form--error {
    background: $red;

    padding: 1em;

    color: #FFF;
}