caption {
    text-align: left;
}

@include media-query("portable") {
    th, td {
        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
            display: none;
        }
    }
}

thead {
    border-bottom: 2px solid $black;
}

tbody {
    border-bottom: 2px solid $black;

    tr {
        border-bottom: 1px solid $medium-gray;

        transition: all .25s ease;

        &:hover,
        &.selected {
            background-color: $light-gray;
        }
    }
}

th {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}