//Branding
$light-blue:    #a2ccdd;
$medium-blue:   #69a7c2;
$dark-blue:     #467284;

$light-gray:    #EEE;
$medium-gray:   #CCC;
$dark-gray:     #AAA;
$charcoal:      rgb(51, 51, 51);
$black:         #333;
$green:         rgb(0, 204, 102);
$red:           #cc0000;
$dark-red:      rgb(184, 43, 43);

//Fonts
$serif: "Franklin Gothic Book", serif;
$sans-serif: 'Roboto', Verdana, Arial, sans-serif;

$base-font-size: 18px;

//Positioning
$gutter: 20px;