//Branding
$light-blue:    #a2ccdd;
$medium-blue:   #69a7c2;
$dark-blue:     #467284;
$red:           #cc0000;

$charcoal:      rgb(51, 51, 51);
$black:         #333;

//Fonts
$serif: "Franklin Gothic Book", serif;
$sans-serif: 'Roboto', Verdana, Arial, sans-serif;

$base-font-size: 18px;

//Positioning
$gutter: 20px;